*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
html{
     scroll-behavior: smooth;
}
body{
     font-family: 'Poppins', sans-serif;
}
ul{
     list-style: none;
}
h1,h2,a,p{
     font-family: 'Poppins', sans-serif;
}
p{
     color: #38515D;
}
h1,h2,h3{
     color: #06212D;
}
a{
     text-decoration: none;
}
button{
     outline: none;
     border: none;
     cursor: pointer;
}
.container{
     padding: 0px 80px;
}

/* HEADEER */
.container{
     padding: 0px 10px;
}

#header{
     height: 90vh;
     width: auto;
     padding: 20px 35px;
     background-image: url(../img/HeadBg.png);
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: 500px 200px;
     background-color: #06212D;
}

.nav{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}
.logo{
    width: 100px; 
}
.menu{
     display: block;
}
.list{
     display: none;
}
.show{
     display: flex;
     flex-direction: column;
     gap: 36px;
     position: absolute;
     left: 0;
     top: 80px;
     background-color: #052735;
     width: 100%;
     transition: ease-out .5s;
     padding: 30px;
}
.link{
     color: #c4c4c4;
     font-size: 14px;
     font-weight: 500;
     text-transform: capitalize;
}
.btn{
     color: #fff;
     padding: 8px 16px;
     background-color: #29ABE2;
     border: 1px solid #29ABE2;
     text-transform: capitalize;
     font-size: 12px;
     transition: all .2s;
}
.btn:hover{
     background-color: #fff;
     color: #29ABE2;
}
.white{
     background-color: #fff;
     color: #29ABE2;
     transition: all .2s;
}
.white:hover{
     background-color: #29ABE2;
     color: #fff;
}
.main{
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 50px;
     align-items: center;
}
.btn-cont{
     display: flex;
     flex-direction: row;
     gap: 30px;
}
.heading-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 25px;
}
.main-heading{
     color: #fff;
     font-size: 32px;
     font-weight: 600;
     text-align: center;
}
.main-info{
     font-size: 14px;
     color: #94A4AB;
     line-height: 25.6px;
     font-weight: 400;
     text-align: center;
}
.popup{
  /* display: none; */
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     opacity: 0;
     visibility: hidden;
     transform: scale(1.1);
     transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-popup{
     opacity: 1;
     visibility: visible;
     transform: scale(1.0);
     transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.form{
     padding: 10px;
     background: rgba(255, 255, 255, 0.8);
     border: 1px solid #94A4AB;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
.close{
     position: absolute;
     top: 0;
     right: 0;
     font-size: 56px;
     cursor: pointer;
     padding: 5px 10px;
     color: #f6f6f6;
     font-weight: lighter;
}
.form-cont{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
}
.btn-sm{
     width: 50%;
     text-align: center;
}
.input-cont{
     display: flex;
     padding: 10px;
     background-color: #fff;
     border: 1px solid #94A4AB;
}
.input-cont span{
     display: flex;
     gap: 10px;
     align-items: center;
     font-size: 14px;
     color: #38515D;
}
.input{
     border: none;
     outline: none;
     font-size: 12px;
     color: #000;
}
.drop{
     width: 14px;
     height: 14px;
     font-size: 12px;
     background-color: transparent;
     border: 1.5px solid #38515D;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.form-info{
     font-size: 12px;
     color: #06212D;
     margin-top: 6px;
     text-align: center;
}

  /* DESCRIPTION */
  #description{
     margin-top: 200px;
}
.row{
     display: flex;
     flex-direction: column-reverse;
     align-items: center;
}
.column{
     flex-direction: column;
}
.desc-heading{
     font-size: 34px;
     line-height: 50px;
     color: #06212D;
     text-align: center;
}
.desc-info{
     font-size: 14px;
     line-height: 26px;
     color: #38515D;
     margin-top: 30px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     text-align: center;
}

.col-2{
     display: flex;
}
.polygon5{
     width: 200px;
     height: 200px;
}
/* PEEP */
#peep{
     margin-top: 100px;
     background-color: #E9F6FC;
}
.peep-cont{
     padding-top: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 50px;
}
.peep-heading-cont{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
}
.peep-heading{
     font-size: 28px;
     text-align: center;
     color: #06212D;
}
.peep-info{
     font-size: 14px;
     text-align: center;
     padding: 0 20px;
     color: #38515D;
}
.btn-col{
     background-color: #06212D;
     padding: 50px;
}
.col-cont{
     display: flex;
     flex-direction: column;
     gap: 60px;
}
.line-cont{
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.line{
     width: 100px;
     height: 2px;
}
.color-btn-row{
     display: flex;
     flex-direction: row;
     gap: 20px;
}
.color-btn-cont{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.color-btn{
     padding: 8px 20px;
     font-size: 12px;
     color: #fff;
}
.c-primary-dark{
     background-color: #052735;
}
.relative{
     position: relative;
     left: 60px;
}
.c-primary{
     background-color: #29ABE2;
}
.l-grey{
     background-color: #94A4AB;
}
.white{
     background-color: #fff;
     color: #333;
}
.d-grey{
     background-color: #38515D;
}


/* DONATE */
#donate .container{
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 50px 0 100px 0;
}
.donate-row{
     display: flex;
     flex-direction: column;
     gap: 50px;
     align-items: center;
}
.col{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.donate-heading{
     font-size: 20px;
     color: #06212D;
     line-height: 1.3;
     text-align: center;
}
.donate-info{
     font-size: 14px;
     color: #38515D;
     line-height: 1.4;
     margin-top: 10px;
     text-align: center;
}
.donate-img{
     display: none;
}
.pack{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.pack-col{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0 50px;
     gap: 20px;
}
.pack-img{   
     margin: 10px auto;
}
/* .center{
     position: absolute;
     left: 35%;
     bottom: 30px;
     font-size: 12px;
} */

/* TEAM */
#teams{
     background-color: #E9F6FC;
     height: 100%;
     width: 100%;
}
.teams-primary{
     padding: 80px 0;
}
.team-row-contents {
     display: flex;
     flex-direction: column;
     gap: 7px;
}
.teams-subs{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 50px;
}

.teams-subs h1 {
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     color: #06212D;
}
 
.team-row-contents h1{
     font-size: 16px;
}
.team-row-contents p{
     font-size: 14px;
}
.team-row-contents img {
     height: 250px;
}

.contents-flexed {
     display: flex;
     flex-direction: row;
     gap: 7px;
}

.secondary-teams {
     display: flex;
     flex-direction: column;
     gap: 20px;
     justify-content: center;
     align-items: center;
}

.teams-row {
     display: flex;
     flex-direction: column;
     gap: 40px;
     margin: 0 auto;
}

.teams-row-other {
     display: flex;
     flex-direction: column;
     gap: 40px;
     margin: 0 auto;
}

.donation-platform {
     height: 80vh;
     display: flex;
     align-items: center;
     flex-direction: row;
}

.social-handle {
     background: #06212D;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 110vh;
     margin-top: 35px;
}
 
.social-handle-primary {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;
     background-position: center;
     background-repeat: repeat;
     background: #06212D;
     height: 90vh;
}
 
.handle-primary-content {
     display: flex;
     flex-direction: row;
     gap: 15px;
}
 
.primary-content h1 {
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 51px;
     line-height: 76px;
     color: #FFFFFF;
}
 
.primary-content p {
     font-family: Poppins;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     color: #38515D;
}

.v {
     margin-left: 10px;
}

.c {
     margin-left: 10px;
}

.i {
     margin-left: -10px;
}


  /* ACCOUNT */
  #account{
     background-color: #06212D;
     padding: 40px;
}
.account-cont{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     gap: 10px;
}
.gap{
     gap: 50px;
}
.account-price{
     color: #fff;
     font-size: 30px;
}
.price-info{
     font-size: 12px;
     color: #38515D;
}
.active{
     color: #94A4AB;
}
.copyright{
     color: #38515D;
     text-align: center;
     margin: 40px 0;
     font-size: 14px;
}

/* TABLET */
@media only screen and (min-width: 768px){
     .container{
          padding: 30px 20px;
     }
     
     /* HEADEER */
     #header{
          height: 100%;
          background-size: 900px 300px;
     }
     .logo{
          width: 200px; 
      }
      .show{
          top: 100px;
     }
     .link{
          font-size: 14px;
     }
     .btn{
          padding: 10px 18px;
          font-size: 16px;
     }
     .btn-lg{
          padding: 20px;
     }
     .main{
          height: 50vh;
          margin: 0;
     }
     .main-heading{
          font-size: 38px;
          padding: 0 50px;
     }
     .main-info{
          font-size: 16px;
     }
     .form{
          padding: 40px;
     }
     .form-cont{
          flex-direction: column;
          gap: 30px;
     }
     .input-cont{
          padding: 15px;
     }
     .input-cont span{
          gap: 12px;
          font-size: 15px;
     }
     .input{
          font-size: 13px;
     }
     .drop{
          width: 15px;
          height: 15px;
          font-size: 13px;
     }
     .form-info{
          font-size: 13px;
     }
     
     /* DESCRIPTION */
     .row{
          flex-direction: column-reverse;
     }

     .column{
          flex-direction: row;
     }
     .desc-heading h1{
          font-family: Poppins;
          font-weight: 600;
          font-size: 48px;
          line-height: 60px;
          color: #06212D;
     }
     .desc-info{
          font-size: 15px;
          gap: 30px;
          padding: 0 100px;
     }

     .info-cont{
          padding: 0;
     }
     .icon-cont{
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
     }
     .info p{
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
     }
     .polygon5{
          background-image: url('./img/Polygon 6.png');
          background-size: 400px 400px;
          background-repeat: no-repeat;
          height: 400px;
          width: 400px;
     }
     /* PEEP */
     #peep{
          background-color: #E9F6FC;
     }
     .peep-heading-cont{
          gap: 20px;
     }
     .peep-heading{
          font-size: 30px;
     }
     .peep-info{
          font-size: 15px;
          padding: 0 100px;
     }
     .btn-col{
          padding: 50px;
     }
     .col-cont{
          display: flex;
          flex-direction: column;
          gap: 80px;
     }
     .line{
          width: 150px;
          height: 3px;
     }
     .color-btn-row{
          gap: 25px;
     }
     .color-btn-cont{
          gap: 25px;
     }
     .color-btn{
          padding: 10px 22px;
          font-size: 14px;
     }
     .relative{
          position: relative;
          left: 80px;
     }
     .white{
          background-color: #fff;
          color: #333;
     }

     /* DONATE */

     #donate .container{
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 50px 80px 100px 80px;
     }
     .donate-row{
          align-items: center;
     }
     .donate-heading{
          font-size: 22px;
          padding: 0 150px;
     }
     .donate-info{
          font-size: 15px;
     }
     .pack{
          gap: 25px;
     }
     .pack-col{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
     }
     /* .center{
          left: 40%;
     } */


     
     /* ACCOUNT */
     #account{
          padding: 60px 20px;
     }
     .account-cont{
          display: flex;
          flex-direction: row;
          text-align: center;
          align-items: center;
          gap: 10px;
     }
     .account-price{
          font-size: 34px;
     }
     .price-info{
          font-size: 14px;
     }
     
     .copyright{
          margin: 60px 0;
          font-size: 15px;
     }
}

/* DESKTOP */
@media only screen and (min-width: 1200px){
     .container{
          padding: 0px 60px;
     } 
     /* HEADEER */
     #header{
          height: 100vh;
          background-size: 1350px 470px;
     }
     .nav{
          flex-direction: row;
     }
     .logo{
          width: auto; 
      }
     .menu{
          display: none;
     }
     .list{
          display: flex;
          flex-direction: row;
          gap: 76px;
     }
     .link{
          font-size: 18px;
          transition: all .2s;
     }
     .link:hover{
          color: #f6f6f6;
     }
     .btn{
          padding: 12px 25px;
          font-size: 14px;
     }

     .btn-lg{
          padding: 20px;
     }
     .main{
          margin-top: 100px;
          display: flex;
          flex-direction: column;
     }
     .main-heading{
          font-size: 48px;
     }
     .main-info{
          font-size: 16px;
          padding: 0 280px;
     }
     
     .form{
          padding: 50px;
     }
     .form-cont{
          flex-direction: row;
          gap: 35px;
     }
     .input-cont{
          padding: 20px;
     }
     .input-cont span{
          gap: 15px;
          font-size: 16px;
     }
     .input{
          font-size: 14px;
     }
     .drop{
          width: 16px;
          height: 16px;
          font-size: 14px;
     }
     .form-info{
          font-size: 14px;
     }
     
     
     /* DESCRIPTION */
     .row{
          flex-direction: row;
          justify-content: space-between;
     }
     .column{
          flex-direction: row;
     }
     .desc-heading{
          font-size: 32px;
          width: 477px;
          text-align: left;
     }
     .desc-info{
          font-size: 16px;
         display: flex;
         flex-direction: column;
         padding-right: 100px;
         padding-left: 0;
         gap: 40px;
          text-align: left;
     }
     .polygon5{
          width: auto;
          height: auto;
     }

     /* PEEP */
     #peep{
          margin: 100px 0;
          background-color: #E9F6FC;
     }
     .peep-cont{
          padding-top: 0;
          flex-direction: row;
          justify-content: space-between;
     }
     .peep-heading-cont{
          gap: 20px;
          /* width: 50%; */
          align-items: flex-start;
     }
     .peep-heading{
          font-size: 32px;
          text-align: left;
     }
     .peep-info{
          font-size: 16px;
          text-align: left;
          padding-right: 100px;
          line-height: 26px;
          padding-left: 0;
     }
     .btn-col{
          padding: 50px 80px;
          width: 70%;
     }
     .col-cont{
          display: flex;
          flex-direction: column;
          gap: 100px;
     }
     .line{
          width: 200px;
          height: 4px;
     }
     .color-btn-row{
          display: flex;
          flex-direction: row;
          gap: 30px;
     }
     .color-btn-cont{
          gap: 30px;
     }
     .color-btn{
          padding: 10px 25px;
          font-size: 16px;
     }
     .relative{
          position: relative;
          left: 100px;
     }
     .white{
          background-color: #fff;
          color: #333;
     }

       /* DONATE */
     #donate .container{
          padding: 60px;
     }
     .donate-row{
          flex-direction: row;
          align-items: flex-end;
     }
     .col{
          gap: 30px;
     }
     .donate-heading{
          font-size: 24px;
          text-align: left;
          padding: 0;
     }
     .donate-info{
          font-size: 16px;
          text-align: left;
     }
     .donate-img{
          width: 286px;
          height: 274.71px;
          margin: 0;
     }
     .pack{
          flex-direction: row;
          gap: 30px;
     }
     .pack-col{
          justify-content: left;
          align-items: flex-start;
          padding: 0;
          gap: 20px;
     }
     .pack-img{
          margin: 0;
     }
     /* .center{
          left: 60px;
          bottom: 30px;
     } */

     /* TEAM */
      .teams-primary {
           margin: 100px 0;
          display: flex;
          flex-direction: column;
          gap: 60px;
     }
      
     .teams-subs {
          display: flex;
          flex-direction: row;
          /* justify-content: space-between; */
          gap: 662px;
     }
      
     .teams-subs h1 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 34px;
          color: #06212D;
     }
      
     .peeps {
          background: #29ABE2;
          border: 1px solid #29ABE2;
          padding: 12px 19px;
          color: #ffffff;
          font-weight: 400;
          font-size: 16px;
          margin-top: 16px;
     }
      
      
     .team-row-contents {
          display: flex;
          flex-direction: column;
          gap: 7px;
     }
     .team-row-contents h1{
          font-size: 24px;
     }
     .team-row-contents p{
          font-size: 18px;
     }
      
     .team-row-contents img {
          height: 395px;
     }
      
     .contents-flexed {
          display: flex;
          flex-direction: row;
          gap: 7px;
     }
      
     .secondary-teams {
          padding: 0em 4em;
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: center;
     }
      
     .teams-row {
          display: flex;
          flex-direction: row;
          gap: 45px;
     }
      
     .teams-row-other {
          display: flex;
          flex-direction: row;
          gap: 45px;
     }

     
     /* ACCOUNT */
     #account{
          padding: 80px;
     }
     .account-cont{
          flex-direction: row;
          text-align: left;
          gap: 5px;
     }
     .account-price{
          font-size: 38px;
     }
     .price-info{
          font-size: 16px;
     }
     .copyright{
          margin: 80px 0;
          font-size: 16px;
     }
}